name: Despliegue Automatico Surge
on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install Surge and Deploy
        run: |
          npm install -g surge
          surge ./ --domain parcial1-20241868.surge.sh --token ${{ secrets.SURGE_TOKEN }}
